{{!-- AFFIRMATIONS --}}
<section>
    
<h1 align="center"> Affirmations </h1> 

<div class="affirmation" id="affirmation" > 

    {{affirmation_phrase}}

</div>

<button type="submit" class="affirmationBtn"> Generate a new Affirmation </button>

</section>

{{!-- QUOTES --}}
<section> 
<h1 align="center"> Quotes </h1> 

<div class="quote" id="quote"> {{quote}} </div>

<p class="by" id="by"> {{by}} </p>



<button type="submit" class="quoteBtn"> Generate a new Quote </button>


</section>

{{!-- TEAS --}}
<section> 
<h1 align="center"> Teas </h1> 

<div class="tea" id="tea"> {{tea_type}} </div>

<p class="benefits" id="benefits"> {{benefits}} </p>



<button type="submit" class="teaBtn"> Generate a new Tea </button>


</section>





<script src="/javascript/bot.js"></script>